<h1> Welcome to Bank Mine, unleash now your money </h1>
<h3> <%= link_to 'Stock', stock_index_path%></h2>

<% if current_user %>
    <h1>Welcome <%= current_user.email %> to  Bank Mine : Your personal Virtual Bank</h1>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </li>
    <li>
    <%= link_to 'Request', new_request_transactions_path %>
    </li>
    <li>
    <%= link_to 'Transfer', new_transfer_transactions_path %>
    </li>
    <h2> <%=link_to 'Wallet', wallet_index_path%> </h2>
<% else %>
    <h2> Sign Up or Log in to access our services</h2>
    <li>
    <%= link_to 'Sign Up', new_user_registration_path %>
    </li>
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
    

<% end %>