<h1>Stock lists</h1>
<h1><%=link_to 'Wallet', wallet_index_path%></h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Active</th>
      <th> Twitter</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.name %></td>
        <td><%= stock.symbol %></td>
        <td><%= stock.type %></td>
        <td><%= stock.region %></td>
      </tr>
    <% end %>
  </tbody>
</table>


