<h1>My wallet:</h1>

<table>
  <thead>
    <tr>
      <th>Balance</th>
      <th colspan="6"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @current_wallet["balance"] %></td>
      </tr>
  </tbody>
</table>
<%= button_to 'Logout',destroy_user_session_path, method: :delete %>
<%= link_to 'Create Transaction', new_transaction_path %>
<table>
  <thead>
    <h1> History of transactions </h1>
    <tr>
      <th> Debit </th>
      <th>Credit</th>
      <th colspan="6">
  </thead>
  <tbody>
    <tr>
      <div class = "td2">
        <%@transactions.each do |transaction|%>  
          <td>
            <p>
            <%if transaction.mode == 1%>
              <%= "Credit of :#{transaction.value} $   Made in :#{transaction.created_at.strftime("%d/%m/%Y")}" %>
            <%end%> 
            </p>
          </tr>
          
          
          <td>
            <p>
            <%if transaction.mode == 0%>
              <%= "Debit of:  -#{transaction.value}$  Made in: #{transaction.created_at.strftime("%d/%m/%Y")}" %>
            <%end%> 
            </p>
          </td>
        <%end%>
      </div>   
    </tr>
  </tbody>
</table>

